---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="inline-block underline text-inherit hover:text-link-light-hover-or-focus focus:text-link-light-hover-or-focus visited:text-link-light-visited active:text-link-light-active"
>
  {text}
</a>
