---
interface Props {
  href: string;
  text: string;
  ariaLabel?: string;
}

const { href, text, ariaLabel } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  aria-label={ariaLabel}
>
  {text}
</a>
