---
import type { TArticleEntry } from "../../types";

type Props = {
  list: Array<TArticleEntry>;
  classes: string;
};

const { list, classes } = Astro.props;
---

<section class={classes}>
  <>
    <h2
      class=""
    >
      Related Articles
    </h2>
    <ul class="">
      {
        list.map((article) => (
          <li class="">
            <a
              class=""
              href={`/articles/${article.slug}`}
            >
              {article.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </>
</section>
