---
import type { MarkdownHeading } from "astro";
import chevron from "../../icons/chevron.svg";
interface Props {
  headings: Array<MarkdownHeading>;
  classes: string;
}

const { headings, classes } = Astro.props;
---

<details
  class=""
>
  <summary
    class=""
  >
    In this article
    <img src={chevron.src} class="" />
  </summary>
  <ol start="1" class="">
    {
      headings.map((heading) => (
        <li>
          <a
            class=""
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ol>
</details>
<style scoped>
  details {
    summary {
      list-style: none;
    }

    summary::marker,
    summary::-webkit-details-marker {
      display: none;
    }
  }

  details[open] > summary > img {
    rotate: 180deg;
  }
</style>
