---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
interface Props {
  headings: Array<MarkdownHeading>;
  classes: string;
}

const { headings, classes } = Astro.props;
---

<details class=`font-inter-medium bg-supporting-400 px-6 py-4 ${classes}`>
  <summary class="flex w-fit text-neutral-200 cursor-pointer">
    In this article
    <Icon name="chevron" class="w-6 h-auto" />
  </summary>
  <ol start="1" class="grid gap-2 mt-2">
    {
      headings.map((heading) => (
        <li>
          <a
            class="text-lg/8 hover:underline hover:text-dark-link-hover-focus focus:text-dark-link-hover-focus text-dark-link visited:text-dark-link-visited active:text-dark-link-active"
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ol>
</details>
<style>
  details > summary {
    list-style: none;
  }

  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>
