---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Internal Server Error - Milton David"
  description="Something went really bad on the server"
  isArticle={false}
>
  <main class="">
    <header>
      <h1
        class=""
      >
        Error on the Server
      </h1>
      <p class="">
        I'm sorry. Unfortunately the server is facing difficulties. Please visit
        the website later.
      </p>
    </header>
  </main>
</Layout>
