---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Internal Server Error - Milton David"
  description="Something went really bad on the server"
  isArticle={false}
>
  <main class="px-6">
    <header>
      <h1 class="font-lora-bold text-supporting-600 text-[2rem]/10 mb-2">
        Error on the Server
      </h1>
      <p class="mb-2">
        I'm sorry. Unfortunately the server is facing difficulties. Please visit
        the website later.
      </p>
    </header>
  </main>
</Layout>
<style scoped>
  p {
    color: theme(colors.supporting.300);
  }
</style>
