---
import type { TArticle } from "../types";
import Layout from '../layouts/Layout.astro';
import Quote from '../components/Quote.astro';
import quotesList from "../util/quotes";
import ArticleList from '../components/ArticleList.astro';
import ArticleTopicList from '../components/ArticleTopicList.astro';

// WIP
export const pickedQuote = quotesList[1]!;
export const articleTopics = ["App state", "Coding", "Open source", "React.js", "Typescript"];

export const articles: Array<TArticle> = [
  {
    title: "Lifting up the state",
    description: "A progressive way to manage a web app state",
    readingTime: 3,
    date: "Oct 28, 2023",
    topics: ["App state", "React.js"]
  },
  {
    title: "Lifting up the state",
    description: "A progressive way to manage a web app state",
    readingTime: 3,
    date: "Oct 28, 2023",
    topics: ["App state", "React.js"]
  },
];
---

<Layout title="Articles | Milton David">
	<main class="px-4 flex flex-col text-supporting-gunmetal-300">
    <header class="my-10">
      <Quote text={pickedQuote?.text} author={pickedQuote?.author} />
    </header>
    <ArticleTopicList topics={articleTopics} />
    <ArticleList articles={articles} />
	</main>
</Layout>
