---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Milton David">
	<main class="px-4 flex flex-col gap-10 text-supporting-gunmetal-300">
    <header class="mt-10">
      <h1 class="font-overpass-mono text-supporting-gunmetal-700 text-2xl mb-2">Building software he needs...</h1>
      <p class="font-overpass-medium text-supporting-gunmetal-200">hoping that someone benefits from it too.</p>
    </header>
    <section class="flex flex-col gap-2">
      <h2 class="font-overpass-mono text-supporting-gunmetal-600 text-lg/6">Writing</h2>
      <p>He writes about software engineering, UI design, and life.</p>
      <a href="/articles" class="underline underline-offset-2">Read Articles</a>
    </section>
    <section class="flex flex-col gap-2">
      <h2 class="font-overpass-mono text-supporting-gunmetal-600 text-lg/6">About Him</h2>
      <p>He’s a Software Engineer and an UI Designer. He works mostly on the web platform and recently he has developed an interest in systems programming and native development.</p>
    </section>
	</main>
</Layout>
