---
import Layout from "../layouts/Layout.astro";
const pageDescription = "Milton David's personal website";
---

<Layout
  title="Home - Milton David"
  description={pageDescription}
  isArticle={false}
>
  <main class="px-4 flex flex-col gap-10">
    <header class="mt-10">
      <h1
        class="font-overpass-mono text-supporting-gunmetal-700 dark:text-neutral-100 text-[32px]/10 mb-2"
      >
        Building software he needs...
      </h1>
      <p
        class="font-overpass-medium text-lg/6 text-supporting-gunmetal-200 dark:text-neutral-600"
      >
        hoping that someone benefits from it too.
      </p>
    </header>
    <section class="flex flex-col gap-2">
      <h2
        class="font-overpass-mono text-supporting-gunmetal-600 dark:text-neutral-200 text-2xl/8"
      >
        Writing
      </h2>
      <p class="text-lg/6 text-supporting-gunmetal-300 dark:text-neutral-600">
        He writes about software engineering, UI design, and life.
      </p>
      <a
        href="/articles"
        class="underline text-lg/6 text-supporting-gunmetal-300 dark:text-primary-300 underline-offset-2"
        >Read Articles</a
      >
    </section>
    <section class="flex flex-col gap-2">
      <h2
        class="font-overpass-mono text-supporting-gunmetal-600 dark:text-neutral-200 text-2xl/8"
      >
        About Him
      </h2>
      <p class="text-lg/6 text-supporting-gunmetal-300 dark:text-neutral-600">
        He’s a Software Engineer and an UI Designer. He works mostly on the web
        platform and recently he has developed an interest in systems
        programming and native development.
      </p>
      <p class="text-lg/6 text-supporting-gunmetal-300 dark:text-neutral-600">
        He built/is building
        <a
          class="dark:text-primary-300 underline underline-offset-2"
          href="https://github.com/ToniMaunde/react-svg-component"
          target="_blank"
          rel="noreferrer">react-svg-component</a
        >,
        <a
          class="dark:text-primary-300 underline underline-offset-2"
          href="https://github.com/ToniMaunde/array-group-polyfill"
          target="_blank"
          rel="noreferrer">array-group-polyfill</a
        >,
        <a
          class="dark:text-primary-300 underline underline-offset-2"
          href="https://github.com/ToniMaunde/typed-formdata"
          target="_blank"
          rel="noreferrer">typed-formdata</a
        >, and
        <a
          class="dark:text-primary-300 underline underline-offset-2"
          href="https://minhamola.com"
          target="_blank"
          rel="noreferrer">minhamola</a
        >.
      </p>
    </section>
  </main>
</Layout>
