---
import { articleDate } from "../util";
interface Props {
  articleBody: string;
  description: string;
  createdAt: string;
  updatedAt: string;
}

const props = Astro.props;
---

<p class="text-supporting-300 text-sm/4">
  {articleDate(props.createdAt, props.updatedAt)}
</p>
<p class="text-supporting-300 text-base/6 mb-0">
  <span aria-label="Summary:">Summary:</span>
  {props.description}
</p>
