---
import { Icon } from "astro-icon/components";

export const currentYear = new Date().getFullYear();

export const socialProfiles = [
  {
    href: "https://github.com/ToniMaunde",
    alt: "Github",
    icon: "socials/github",
  },
  {
    href: "https://dribbble.com/ToniMaunde",
    alt: "Dribbble",
    icon: "socials/dribbble",
  },
  {
    href: "https://www.linkedin.com/in/tonimaunde/",
    alt: "Linkedin",
    icon: "socials/linkedin",
  },
  {
    href: "https://twitter.com/tonimaunde",
    alt: "Twitter",
    icon: "socials/twitter",
  },
  {
    href: "https://codepen.io/ToniMaunde",
    alt: "Codepen",
    icon: "socials/codepen",
  },
];
---

<footer class="flex flex-col gap-6 pb-6 px-6 mt-12">
  <a href="/" class="flex items-center gap-2">
    <Icon name="logomark" class="w-8 h-auto" />
    <p class="font-lora-bold text-supporting-600 text-lg/6">milton_david</p>
  </a>
  <ul class="flex flex-wrap gap-4 text-supporting-300 fill-supporting-300">
    {
      socialProfiles.map((profile) => (
        <li>
          <a
            class="flex gap-2 items-center"
            target="_blank"
            rel="noreferrer"
            href={profile.href}
          >
            <Icon name={profile.icon} class="w-6 h-auto" />
            <span class="lowercase">{profile.alt}</span>
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-supporting-300">
    ©{currentYear} Milton David. All Rights Reserved.
  </p>
</footer>
