---
import logomark from "../icons/logomark.svg";
import themeLight from "../icons/theme_light.svg";
---

<nav class="">
  <a href="/" class="">
    <img src={logomark.src} class="" />
    <p
      class=""
    >
      milton_david
    </p>
  </a>
  <button>
    <icon src={themeLight.src} class=""></icon>
  </button>
</nav>
