---
import { Icon } from "astro-icon/components";
---

<nav class="flex justify-between p-6">
  <a href="/" class="flex items-center gap-2">
    <Icon name="logomark" class="w-8 h-auto" />
    <p class="font-lora-bold text-supporting-600 text-lg/6">milton_david</p>
  </a>
  <button>
    <Icon name="theme_light" class="w-8 h-auto" />
  </button>
</nav>
