---
import logomark from "../icons/logomark.svg";
import themeLight from "../icons/theme_light.svg";
---

<nav class="flex justify-between p-6">
  <a href="/" class="flex items-center gap-2">
    <img src={logomark.src} class="w-8 h-auto" />
    <p
      class="font-lora-bold text-supporting-600 dark:text-neutral-100 text-lg/6"
    >
      milton_david
    </p>
  </a>
  <button>
    <icon src={themeLight.src} class="w-8 h-auto"></icon>
  </button>
</nav>
