---
import logomark from "../icons/logomark.svg";
import logotype from "../icons/logotype.svg";
---

<nav class="region" data-region="navbar">
  <a href="/" >
    <img src={logomark.src} data-type="logomark" />
    <img src={logotype.src} data-type="logotype" />
  </a>
</nav>
