---
interface Props {
  text: string;
  author: string;
}
const { text, author } = Astro.props;
---

<h1
  class="font-overpass-mono text-supporting-gunmetal-700 dark:text-neutral-100 text-lg/6"
>
  "{text}"
  <br />
   - {author}
</h1>
